<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoordinateConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LCS46_1" value="+proj=tmerc +ellps=krass +units=m +lat_0=0 +lon_0=35.48333333333 +k=1 +x_0=1250000 +y_0=-5312900.566 +towgs84=23.92,-141.27,-80.9,-0,0.35,0.82,-0.12 + no_defs" />
    <add key="LCS46_2" value="+proj=tmerc +ellps=krass +units=m +lat_0=0 +lon_0=35.48333333333 +k=1 +x_0=2250000 +y_0=-5312900.566 +towgs84=23.92,-141.27,-80.9,-0,0.35,0.82,-0.12 + no_defs" />  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <CoordinateConverter.Properties.Settings>
      <setting name="ClearCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearRule" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CoordView" serializeAs="String">
        <value>Десятичные градусы</value>
      </setting>
    </CoordinateConverter.Properties.Settings>
  </userSettings>
</configuration>